<form class="form"[formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="heading">
        <h2 class="head">Set new password</h2>
        <p class="descrip">choose strong password to protect your account.</p>
    </div>

    <div class="input-group">
            <label  for="password">new Password:</label>
            <input id="password" type="password" formControlName="password" required title="Enter your password" placeholder="Password">
            @if (form.controls['password'].touched && form.controls['password'].invalid) {
                <div class="error-message">
                    @if (form.controls['password'].errors?.['required']) {
                        <p class="error">Password is required.</p>
                    }

                    @if (form.controls['password'].errors?.['minlength']) {
                        <p class="error">
                        Password must be at least 
                        {{ form.controls['password'].errors?.['minlength'].requiredLength }} 
                        characters long.
                        </p>
                    }

                    @if (form.controls['password'].errors?.['noUpperCase']) {
                        <p class="error">Password must contain at least one uppercase.</p>
                    }

                    @if (form.controls['password'].errors?.['noLowerCase']) {
                        <p class="error">Password must contain at least one lowercase.</p>
                    }

                    @if (form.controls['password'].errors?.['noNumber']) {
                        <p class="error">Password must contain at least one number.</p>
                    }
                </div>
            }
        </div>

        <div class="input-group">
            <label for="confirmPassword">Confirm Password:</label>
            <input id="confirmPassword" type="password" formControlName="confirmPassword" required title="Confirm your password" placeholder="Confirm password">
            @if(form.controls['confirmPassword'].touched && form.controls['confirmPassword'].invalid){
                <p class="error">Confirm Password name is required.</p>
            }
            @if(form.errors?.['notMatching'] && form.controls['confirmPassword'].touched){
                <p class="error">Passwords are not matched. </p>
            }
        </div>
    <button class="submit-btn" type="submit" [disabled]="!form.valid" >Reset</button>

</form>