@import '../styles/variables.css';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f7f8; 
  height: 100%;
}



/* Responsive container */
.container {
  width: 100%;
  margin: 0 auto;        
  padding: 1.5rem;     

}

/* Breakpoints for responsive max-width */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}
/* Responsive font sizes */

@media (max-width: 768px) { html { font-size: 56.25%; } } /* 9px */
@media (max-width: 480px) { html { font-size: 50%; } }   /* 8px */




