<article class="article">
    <div class="user-details">
        <div class="profile-image">
            <img class="image"  src="profile_img.jpg" alt="profile-img"/>
        </div>
        <h3 class="user-name">{{article.userName}}</h3>
    </div>
    <div class="article-content">
        <h2 class="title">{{article.title}}</h2>
        <p class="paragraph">{{article.content}}
        </p>
    </div>

    @if(article.imageUrl!=null){

    <div class="article-image">
        <img class="image" [src]="article.imageUrl" alt="article-img"/>
    </div>
    }

    <div class="article-reacts">
        <ul class="reacts-list">
            @for(reactItem of reacts; track reactItem.icon){
                <li class="react">
                    <i [class]=" reactItem.icon +' icon'" [class.active]="reactItem.isActive "(click)="toggleReact($event,reactItem)"></i>
                    <span class="total-num" [innerHTML]="reactItem.totalNum"></span>
                </li>
            }
        </ul>
    </div>
    
</article>