
<div class="app-layout">
    <aside class="sidebar">
        <div class="logo">
            <img class="logo-img" src="metablog_logo.svg" alt="metablog_logo" >
        </div>
        <nav class="main-nav nav">
         @for(item of navigationItems; track item.label){ 
            <a [class.active]="item.active">
                <i [class]="item.icon"></i>
                <span class="item-label" [innerHTML]="item.label"></span>
            </a>
            }

            <section class="user-nav nav">
            @for(item of userItems; track item.label){ 
            <a [class.active]="item.active">
                <i [class]="item.icon"></i>
                <span class="item-label" [innerHTML]="item.label"></span>
            </a>
            }
            
        </section>
        </nav>

    </aside>
    <main class="content">
        <router-outlet></router-outlet>
    </main>
</div>