<form class="form" #myform="ngForm" (ngSubmit)="onSubmit(myform)">

    <div class="heading">
        <h2 class="head">Forgot your Password ?</h2>
        <p class="descrip"> no worries we'll send you reset instructions.</p>
    </div>
    <div class="input-group">
        <label for="Email"> Email:</label>
        <input id="Email" name="email" type="email" title="Enter your email" placeholder="Enter your email" required email  [(ngModel)]="email">
        @if(myform.controls["email"]?.invalid&&myform.controls["email"]?.touched){
            <small class="error">Please enter a valid email address.</small>
        }
    </div>
    <button class="submit-btn" type="submit" [disabled]="!myform.valid" >Reset</button>
    
        <div class="alternative-options">
            <p>Remember you password ?<a routerLink="/auth/login" class="link">login</a></p>
        </div>
</form>